:root{
    --principal:#b0e783;
    --complementario:#ba83e7;
    --fakeWhite:#fffff6;
    --lightestgreen:#eaf8d5;
    --bruhgreen:#d3f2b4;
    --footergreen:#81b757;
    --extra:#63993a;
    --main:#b0e783;
    --complementary:#ba83e7;
    --complementary02: #9749b8;
    --graded07:#eaf8d5;
    --graded08:#fffff6;
}
.forumMain{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    /* background-color: var(--graded07); */
}

.containerVisual{
    padding: 1%;
    max-width: 75rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--graded08);
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-align{
    text-align: end;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn-addpost{
    background-color: var(--complementary);
    border-color: var(--complementary);
}


.btn-addpost:hover,
.btn-addpost:active {
    background-color: var(--complementary02);
    border-color: var(--complementary02);
    color: #fff; /* Set text color for better visibility on the background */
    outline: none; /* Remove the blue outline when focused (optional) */
}


.pic-post{
    width: 5rem;
    height: 5rem;
}

.img-post{
    max-width: 50%;
}

.pic-comment{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.text-comment{
    font-size: 0.8rem;
}