:root{
    --principal:#b0e783;
    --complementario:#ba83e7;
    --fakeWhite:#fffff6;
    --lightestgreen:#eaf8d5;
    --bruhgreen:#d3f2b4;
    --footergreen:#81b757;
    --extra:#63993a;
    font-size: 16px;
}
body{

    background: linear-gradient(100deg, var(--extra), var(--bruhgreen), var(--fakeWhite));
    font-family: 'Roboto', sans-serif;
}
.oracleInspiration h2{
    color: var(--footergreen);
}
#enchilada img{
    visibility: visible;
}
#enchilada button{
    z-index: 30;
    visibility: visible;
    height: 100%;
    width: 25%;
}
.carousel-control-prev-icon{
    visibility: hidden;
    background-color: var(--extra);
    position: relative;
}
.carousel-control-next-icon{
    visibility: hidden;
    background-color: var(--extra);
    position: relative;
}

#MasterContainer{
    position: relative;
    z-index: 10;
    display: block;
    height: auto;
}
.noticia{
    background-color: var(--fakeWhite) !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;  
}
#contenedorNoticias{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    display: block;
    background-color: var(--principal);
}

.oracleInspiration{
    visibility: visible;
}
.carouselImage{
    z-index: -1;
}
.carouselTextBox{
    background-color: var(--fakeWhite) !important;
    z-index: 5;
    width: 300px;
    position: absolute;
    display: block;
    visibility: visible;
    background-color: var(--fakeWhite);
}
@media (max-width: 576px) {
    .carousel-control-prev-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    .carousel-control-next-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    .nonCellphoneCompatible{
        display: none ;
    }
    #enchilada{
        visibility: hidden;
        background-color: #ba83e7;
        height: auto;
    }
    .oracleInspiration{
        width: 100%;
        height: auto;
    }
    .carouselTextBox{
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    #enchilada img{
        top: 0;
        width: 100%;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .carousel-control-prev-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    .carousel-control-next-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    #enchilada{
        height: auto;
    }
    .oracleInspiration{
        width: 100%;
        height: auto;
    }
    .carouselTextBox{
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    #enchilada img{
        width: 100%;
        visibility: visible;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    .carousel-control-prev-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    .carousel-control-next-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    #enchilada{
        height: auto;
    }

    #carouselDecorative{
        position: absolute;
        top: 3.3rem;
        visibility: visible;
        height: 26rem;
        background-image: url(./../../../public/imgs/newsletter/aesthetic.jpg);
    }
    .oracleInspiration{
        z-index: 10;
        bottom: -4rem;
        position: relative;
        width: 75rem;
        height: 25rem;
    }
    .carouselImage{
        z-index: 5;
        position: absolute;
        width: 60%;
        height: 60%;
        top: 0;
        left: 0;
    }
    .carouselTextBox{
        position: absolute;
        width: 53%;
        height: 70%;
        bottom: 0;
        right: 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-control-prev-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    .carousel-control-next-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    #navbarLostSpace{
        position: relative;
        top: 0;
        visibility: visible;
        height: 3.3rem;
        background-color: var(--fakeWhite);
    }
    #enchilada{
        position: relative;
        visibility: visible;
        height: 32rem;
    }
    #carouselDecorative{
        position: absolute;
        top: 3.3rem;
        visibility: visible;
        height: 32rem;
        background-image: url(./../../../public/imgs/newsletter/aesthetic.jpg);
    }
    #newsSectionDecorative{
        z-index: 0;
        visibility: visible;
        background-color: var(--fakeWhite);
    }
    .carousel{
        height: 32rem;
    }
    .sectionNews{
        position: absolute;
        bottom: -30rem;
    }
    .carousel-inner{
        position: relative;
        height: 100%;
    }
    .carousel-item{
        position: relative;
        height: 100%;
    }
    .oracleInspiration{
        z-index: 10;
        bottom: -4rem;
        position: relative;
        width: 75rem;
        height: 25rem;
    }
    .carouselImage{
        z-index: 5;
        position: absolute;
        height: 70%;
        top: 0;
        left: 0;
    }
    .carouselTextBox{
        position: absolute;
        width: 53%;
        height: 70%;
        bottom: 0;
        right: 0;
    }
}

.btn-purple{
    background-color: var(--complementario);
    border-color: var(--complementario);
}


.btn-purple:hover,
.btn-purple:active,
.btn-purple:disabled {
    background-color: var(--complementary02);
    border-color: var(--complementary02);
    color: #fff; /* Set text color for better visibility on the background */
    outline: none; /* Remove the blue outline when focused (optional) */
}
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .carousel-control-prev-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    .carousel-control-next-icon{
        visibility: visible;
        background-color: var(--extra);
        position: relative;
    }
    #navbarLostSpace{
        position: relative;
        top: 0;
        visibility: visible;
        height: 3.3rem;
        background-color: var(--fakeWhite);
    }
    #enchilada{
        position: relative;
        visibility: visible;
        height: 32rem;
    }
    #carouselDecorative{
        position: absolute;
        top: 3.3rem;
        visibility: visible;
        height: 32rem;
        background-image: url(./../../../public/imgs/newsletter/aesthetic.jpg);
    }
    #newsSectionDecorative{
        z-index: 0;
        height: 25rem;
        top: 35.3rem;
        position: absolute;
        visibility: visible;
        background-color: var(--fakeWhite);
    }
    .carousel{
        height: 32rem;
    }
    .sectionNews{
        position: absolute;
        bottom: -30rem;
    }
    .carousel-inner{
        position: relative;
        height: 100%;
    }
    .carousel-item{
        position: relative;
        height: 100%;
    }
    .oracleInspiration{
        z-index: 10;
        bottom: -4rem;
        position: relative;
        width: 75rem;
        height: 25rem;
    }
    .carouselImage{
        z-index: 5;
        position: absolute;
        height: 90%;
        top: 0;
        left: 0;
    }
    .carouselTextBox{
        position: absolute;
        width: 53%;
        height: 90%;
        bottom: 0;
        right: 0;
    }
}